.mini-logo{
    position: absolute;
    width: 149px;
    height: 63px;
    left: 37px;
    top: 27px;
}

.arrow{
    box-sizing: border-box;
    position: absolute;
    left: 251px;
    top: 50px;
    border: 0px solid #484848;
}

.return-button{
    position: absolute;
    width: 240px;
    height: 31px;
    left: 292px;
    top: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #484848;
    text-align: left;
    background: #FFFFFF;
    border:0;
}

